.club {
background-color: orangered;
color: black;
}

.headborder{
    border: solid 13px;
    margin: 5px;
    border-radius: 0 30px;
}

.name {
    display: flex;
    justify-content: center;
    margin:7px;
    font-size: 250%;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    font-size: 150%;
} 

.aboutborder {
    border: dotted 7px;
    margin-right: 66%;
   
}

h2 {
    font-size: 175%
}

p {
    font-size: 125%;
}

.bigone {
    border: solid;
    display:flex;
    justify-content: center;
    margin: 5% 25%
    
}

#pro {
   display:flex;
   position: absolute;
   
    
}
